.hBox {
    border: 8px solid black;
    background-color: lightblue;
    text-align: center;
    font-size: 50px;
    font-family: sans-seriff
  }
  .hBox h1{
    font-size: 50px;
    font-family: sans-seriff
  }
  .flexContainer {
    display: flex;
  }
  .mBox {
    flex: 25;
    background-color: purple;
    height: 100%;
    border: 8px solid black;
    font-size: 40px;
    font-family: Arial;
  }
  .mbox li{
    text-align: center;
  }
  .mBox ul{
    list-style-type: none;
    text-align: left;
  }
  footer {
    border: 8px solid black;
    background-color: lightblue;
    text-align: center;
    font-size: 50px;
    font-family: sans-seriff
  }
  .content {
    flex: 50;
    border: 8px solid black;
    background-color: tan;
  }
  .content header{
    text-align: center;
    font-size: 40px;
  }
  .content p {
    font-size: 20px;
    text-align: left;
  }
  .AD{
    flex: 25;
    background-color: purple;
    border: 8px solid black;
    font-size: 80px;
    font-family: Arial;
  }
  .AD li{
    list-style-type: none;
    text-align: center;
  }
  @media only screen and (max-width: 800px) and (min-width: 600px) {
    .AD {
      display: none;
    }
  }
  @media only screen and (max-width: 600px) {
    .flexContainer {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 600px) {
    .AD {
      font-size: 10px;
    }
    .content header{
      font-size: 10px;
    }
    .content p{
      font-size: 10px;
    }
    .mBox {
      font-size: 10px;
    }
  } 